// layout
.q-footer {
  z-index: 3000;
}

// page
.page {
  z-index: 2000;
  &-nudger {
    transition: transform 0.4s;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.4s;
      z-index: 2000;
      pointer-events: none;
    }
    &.nudge-left {
      transform: translateX(-60px);
      &:after {
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }
  &-header {
    &-title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10px;
    }
  }
  &-body {
    &-spacer {
      &-header {
        height: 51px;
      }
      &-footer {
        height: 73px;
      }
    }
  }
}

// transitions
.slideInRight,
.slideOutRight {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

// shoppingList

.done {
  .q-item__label {
    text-decoration: line-through;
    color: #bbb;
  }
}
.q-item__section {
  .item__details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .details__core {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      .small-label {
        font-size: 12px;
      }
    }
    .details__size {
      font-size: 14px;
      margin-right: 10px;
      font-weight: bold;
    }
  }
}

// recipes
.recipes-body {
  display: flex;
  flex-wrap: wrap;
  .recipe-card {
    margin: 10px 10px;
    min-width: 200px;
    width: 100%;
    max-width: 200px;
  }
}
